*{
    box-sizing: border-box;
    font-family: Microsoft YaHei,PingFang SC,Hiragino Sans GB,SimSun,Helvetica Neue,Helvetica,sans-serif;
    position: relative;
    margin:0;
    padding:0;
    -webkit-overflow-scrolling: touch;
    -webkit-appearance: none;
}
html,body{
    height:100%;
    width:100%;
}
html{
    background:#f8f8f8;
}
textarea{
    
    box-shadow: none;
}
/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ddd;
    
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
::-webkit-scrollbar-thumb:active{
    background: #999;
}
.texta{
    text-decoration: none;
}
.centerFlex{
    display: flex;
    align-items: center;
}
.cursor{
    cursor:pointer;
}
.appDiv{
    height:100%;
    width:100%;
}
.blockDiv{
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.02);
    border-radius: 6px;
    background-color:white;
    overflow: hidden;
}
.flexWrapDiv{
    display: flex;
    /* flex-wrap: wrap; */
}
.mb30{
    margin-bottom:30px;
}
.mr30{
    margin-right:30px;
}
.mb15{
    margin-bottom:15px;
}
.mb25{
    margin-bottom:25px;
}
.mr25{
    margin-right:25px;
}
.mb20{
    margin-bottom:20px;
}
.mr20{
    margin-right:20px;
}
.mb10{
    margin-bottom:10px;
}
.mr10{
    margin-right:10px;
}
.five{
    --color-primary:#5488FF;
    --color-success:#25B36E;
    --color-warning:#FCB222;
    --color-danger:#E91126;
    --color-info:#909399;
    --color-text-primary:#333333;
    --color-text-regular:#666666;
    --color-text-secondary:#BBBBBB;
    --color-text-placeholder:#BBBBBB;
    --border-color-base:#DDDFE6;
    --border-color-light:#E4E7ED;
    --border-color-lighter:#EBEEF5;
    --border-color-extra-light:#F2F6FC;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --background-color-base:#F5F5F5;
    --font-size-primary:14px;
    --border-radius:8px;
}
.danger{
    color:var(--color-danger);
}
.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}
.info{
    color:var(--color-info);
}
.primary{
    color:var(--color-primary);
}

.right{
    float: right;
}
.five .breadDiv {
    font-size:var(--font-size-primary);
    display: flex;
    align-items: center;
}
.five .activebread {
    color:var(--color-primary)!important;
}
/* iconInput */
.iconInput{
    display: flex;
    align-items: center;
}
.iconInput i{
    position: absolute;
    right:10px;
    color:var(--border-color-base);
}
/* layui tab样式 */
.five .layui-tab-brief>.layui-tab-more li.layui-this:after,
.five .layui-tab-brief>.layui-tab-title .layui-this:after{
    width: 60%;
    left: 20%;
    top:-2px!important;
}
/* layui table样式 */
/* 圆角table样式 */
.radiusHighTable .formTableDiv {
    padding: 15px 20px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #EBEEF5;
    border-top: 0;
}
.radiusHighTable .layui-table-view{
    border-radius: 8px;
}
.radiusHighTable .layui-table-box{
    border-radius: 8px;
}
.radiusHighTable .layui-table th {
    height:55px;
}
.radiusHighTable .layui-table-view .layui-table td, .layui-table-view .layui-table th{
    padding:10px 0;
}
.radiusHighTable .layui-table-cell{
    height: auto;
    overflow: auto;
}
/* verticle-line-table 没有竖线的table pc下行高60 mobile下行高48 */
.verticle-line-table .layui-table-view {
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.verticle-line-table .layui-table thead tr {
    background: none;
}
.verticle-line-table .layui-table-view .layui-table td, .verticle-line-table .layui-table-view  .layui-table th{
    padding:16px 0;
}
.verticle-line-table .layui-table-view .layui-table td,
.verticle-line-table .layui-table-view .layui-table th {
    border-right-color: transparent;
}

.verticle-line-table .layui-table-page {
    padding-top: 25px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ztree 样式 */
.five .ztree {
    width: 70%;
    transform: scale(1.2);
    transform-origin: 0 0;
}

.five .ztree li span.button.ico_open,
.five .ztree li span.button.ico_close {
    background-size: 14px 14px !important;
}

.five .ztree li span.button.ico_docu {
    background-size: 14px 14px !important;
}
/* checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
	background-color: transparent;
	border: 1px solid var(--border-color-base);
    box-shadow:none;
    height:18px;
    width:18px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
    vertical-align: sub;
    outline: none;
}
input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
}
input[type="checkbox"]:checked {
    border:1px solid var(--color-primary);
}
input[type="checkbox"]:checked:after {
    font-family: "iconfont" !important;
	content: '\e7b2';
    font-size: 14px;
    position: absolute;
    color: var(--color-primary)!important;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -1px;
    top:-1px;
    font-weight: bold;
}

/* checkbox end */
@media screen and (max-width: 1000px) {
    /* .five .breadDiv{
        position: fixed;
        top: 44px;
        width: 100%;
        left: 0;
        background: white;
        box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.05);
        padding: 12px 15px;
        border-top: 1px solid #eee;
        z-index: 1;
    } */
    .five .activebread {
        font-weight: normal;
        color: #b6b6b6 !important;
    }
    .five .submitDiv{
        padding-top:10px;
        display: flex;
        justify-content: center;
    }
    .verticle-line-table .layui-table-view .layui-table td, .verticle-line-table .layui-table-view  .layui-table th{
        padding:9px 0;
    }
    .verticle-line-table .layui-laypage a {
        display: none;
    }
    .verticle-line-table .layui-laypage .layui-laypage-curr {
        display: none;
    }
}
