<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>策划目录</title>
    <link rel="stylesheet" href="../../images/font/iconfont.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../js/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../js/lib/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../js/lib/common.js"></script>
    <script src="../../js/lib/layui/layui.js"></script>
    <script src="../../js/lib/load.js"></script>
    <style>
        
    </style>
</head>

<body class="six">
    <div id="app" class="appDiv" active="策划目录">
        <com-frame >
            <!-- 正文内容 -->
            <div class="planDiv blockDiv">
                <div class="mb20 breadDiv">
                    <span class="mr10 isPc">当前位置 : </span>
                    <span class="layui-breadcrumb isPc" lay-separator=">">
                        <a href="" class="activebread">项目周期</a>
                        <a href="javascript:;">项目管理</a>
                    </span>
                    <span class="layui-breadcrumb isMobile" lay-separator="/">
                        <a href="" class="activebread">项目周期</a>
                        <a href="javascript:;">项目管理</a>
                    </span>
                </div>

                <div class="tableDiv">
                    <div class="layui-tab" id="planTab">
                        <ul class="layui-tab-title">
                          <li class="layui-this">基础信息</li>
                          <li>计划节点</li>
                          <li>质量控制和成果</li>
                          <li>承担的任务</li>
                          <li>全周期成本情况</li>
                          <li>全周期收入预算</li>
                          <li>全周期支出预算</li>
                        </ul>
                        <div class="layui-tab-content">
                          <div class="layui-tab-item layui-show">
                              <com-plan></com-plan>
                          </div>
                          <div class="layui-tab-item">计划节点</div>
                          <div class="layui-tab-item">质量控制和成果</div>
                          <div class="layui-tab-item">
                              <com-beartask></com-beartask>
                          </div>
                          <div class="layui-tab-item">全周期成本情况</div>
                          <div class="layui-tab-item">全周期收入预算</div>
                          <div class="layui-tab-item">全周期支出预算</div>
                        </div>
                    </div>
                </div>

            </div>
        </com-frame>
    </div>
</body>
<script>
    load("./coms/frame.com.html","com-frame");
    load("../coms/plan/plan.com.html","com-plan");
    load("../coms/beartask/beartask.com.html","com-beartask");
    if(window.innerWidth>1000){
        $("#planTab").removeClass("layui-tab-brief");
    }else{
        $("#planTab").addClass("layui-tab-brief");
    }
    window.addEventListener("resize",function(){
        if(window.innerWidth>1000){
            $("#planTab").removeClass("layui-tab-brief");
        }else{
            $("#planTab").addClass("layui-tab-brief");
        }
    });
</script>
</html>