<style>
    
</style>
<template>
    <div class="infoDiv">
        <div class="oneInfo"><img alt="" src="../../images/five/home_visitor_icon@2x.png" class="infoImg">
            <div class="infoText">4,648</div>
            <div class="infoNumber">今日访问量</div>
            <div class="infoUp"><i class="iconfont iconup_icon1"></i> <span>26.84%</span></div>
            <!---->
        </div>
        <div class="oneInfo"><img alt="" src="../../images/five/home_visitor2_icon@2x.png" class="infoImg">
            <div class="infoText">2,648</div>
            <div class="infoNumber">昨日访问量</div>
            <div class="infoUp"><i class="iconfont iconup_icon1"></i> <span>26.32%</span></div>
            <!---->
        </div>
        <div class="oneInfo"><img alt="" src="../../images/five/home_people_icon@2x.png" class="infoImg">
            <div class="infoText">768</div>
            <div class="infoNumber">在线人数</div>
            <!---->
            <div class="infoUp infoDown"><i class="iconfont icondown_icon1"></i> <span>0.86%</span></div>
        </div>
        <div class="oneInfo"><img alt="" src="../../images/five/home_cpu_icon@2x.png" class="infoImg">
            <div class="infoText">82.6</div>
            <div class="infoNumber">CPU使用率</div>
            <div class="infoUp"><i class="iconfont iconup_icon1"></i> <span>8.64%</span></div>
            <!---->
        </div>

    </div>
</template>
<script>
</script>