<style>
    
</style>
<template>
    <div class="infoDiv">
        <div class="oneInfo" style="background-image: url(../../images/six/home_visitorbg_img@2x.png);">
            <img alt="" src="../../images/six/home_visitor_icon@2x.png" class="infoImg">
            <div class="infoNumber">今日访问量</div>
            <div class="infoText">4,648</div>
        </div>
        <div class="oneInfo" style="background-image: url(../../images/six/home_visitor2bg_img@2x.png);">
            <img alt="" src="../../images/six/home_visitor2_icon@2x.png" class="infoImg">
            <div class="infoNumber">昨日访问量</div>
            <div class="infoText">2,648</div>
        </div>
        <div class="oneInfo" style="background-image: url(../../images/six/home_thing1bg_img@2x.png);">
            <img alt="" src="../../images/six/home_thing1_icon@2x.png" class="infoImg">
            <div class="infoNumber">待办事项</div>
            <div class="infoText">18</div>
        </div>
        <div class="oneInfo" style="background-image: url(../../images/six/home_thing2bg_img@2x.png);">
            <img alt="" src="../../images/six/home_thing2_icon@2x.png" class="infoImg">
            <div class="infoNumber">已处理事项</div>
            <div class="infoText">30</div>
        </div>
    </div>
</template>
<script>
</script>