<style>
</style>
<template>
    <div class="shortcutDiv">
        <div class="comTitle">
            快捷方式
        </div>
        <div class="listDiv">
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>昨日访问量</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>今日访问量</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>添加内容</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>数据备份</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>后台管理</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>后台管理</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>后台管理</span>
            </div>
            <div class="oneItem">
                <i class="iconfont iconhome_kuaijie2_icon"></i>
                <span>后台管理</span>
            </div>
        </div>
    </div>
</template>
<script>
</script>