<style>
    
</style>
<template>
    <div class="dustDiv">
        <canvas class="canvasDiv" width="1920" height="1280" id="dustCanvas"></canvas>
        <div class="chartDiv chartCDiv" id="dustChart">

        </div>
        <div class="title">粉尘检测</div>
    </div>
</template>
<script>
    function initDustChart() {
        var chart = "",
            value = 22;
        function initBackground(){
            var chart = document.getElementById("dustChart");
            var canvas = document.getElementById("dustCanvas");
            var ctx = canvas.getContext("2d");
            var grd = ctx.createLinearGradient(0, 0, chart.clientWidth, 0);
            grd.addColorStop(0, "#4ECDFF");
            grd.addColorStop(1, "#CD48F2");
            ctx.fillStyle = grd;
            ctx.fillRect(0, 0, chart.clientWidth, chart.clientHeight);
        }
        var image1 = document.getElementById('dustCanvas');
        var option = {
            toolbox: {
                feature: {
                    restore: {},
                    saveAsImage: {}
                }
            },
            radiusAxis: {
                show: false,
                type: 'category',
            },
            angleAxis: {
                show: false,
                max: 100,
                type: 'value',
                startAngle: 180,
                splitLine: {
                    show: false
                }
            },
            polar: {
                center: ['50%', '75%'],
                radius: '150px'
            },
            series: [
                //渐变线
                {
                    type: 'bar',
                    barWidth: 15,
                    data: [{ value: 0 }, {
                        value: 50,
                        itemStyle: {
                            color: {
                                image: image1,
                                repeat: 'repeat-y'
                            }
                        }
                    }],
                    coordinateSystem: 'polar',
                    roundCap: true,
                    z: 1
                },
                //内刻度
                {
                    type: 'gauge',
                    center: ['50%', '75%'],
                    detail: {
                        formatter: 'mg/m³',
                        color: '#333',
                        fontSize: 16,
                        offsetCenter: [0, '30%']
                    },
                    data: [{ value: value, name: '' }],
                    startAngle: 180,
                    endAngle: 0,
                    radius: '100px',
                    axisTick: {
                        show: false
                    },

                    splitLine: {
                        length: 15,
                        show: true,
                        lineStyle: {
                            color: {
                                image: image1,
                                repeat: 'repeat-y'
                            }
                        }
                    },
                    itemStyle: {
                        color: '#DDDFE6'
                    },
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: [[0.1, '#61b9fd'], [0.5, '#7E9BFA'], [0.6, '#9086F8'], [0.7, '#A176F7'], [0.8, '#B067F5'], [0.9, '#BE57F3'], [1, '#C64FF3']],
                            width: 10,
                        }
                    },
                },
                //外刻度
                {
                    name: '高中低',
                    type: 'gauge',
                    center: ['50%', '75%'],
                    radius: '180px',
                    startAngle: 180,
                    endAngle: 0,
                    min: 0,
                    max: 10,
                    splitNumber: 20,
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisLabel: {
                        fontWeight: 'bolder',
                        color: '#7D9CFA',
                        // 7C9CFA
                        // C54FF2
                        fontSize: '16',
                        formatter: function (v) {
                            switch (v + '') {
                                case '0.5': return '低';
                                case '5': return '中';
                                case '9.5': return '高';
                            }
                        }
                    },
                    title: {
                        show: false
                    },
                    detail: {
                        show: false
                    },
                    itemStyle: {
                        show: false
                    }
                }
            ]
        };
        window.addEventListener("resize", function () {
            chart.resize();
        });
        setTimeout(function () {
            chart = echarts.init(document.getElementById('dustChart'));
            initBackground();
            chart.setOption(option);
            chart.resize();
        }, 100);
    }
    initDustChart();
</script>