<style>
    
</style>
<template>
    <div class="recount5Div">
        <div class="title">
            <span>综合统计</span>
        </div>
        <div class="chartDiv">
            <div class="item noborder">
                <div class="centerFlexBt">
                    <div class="centerFlex">
                        <div class="logo">79%</div>
                        <div class="name">在线人数</div>
                        <div class="number">3126</div>
                    </div>
                    <div class="oprate">···</div>
                </div>
                <div class="progressDiv">
                    <div class="prOuter">
                        <div class="prInner" style="width:79%">
                        </div>
                    </div>
                </div>
                <div class="centerFlexBt">
                    <div>0</div>
                    <div>3500</div>
                </div>
            </div>
            <div class="item yellow">
                <div class="centerFlexBt">
                    <div class="centerFlex">
                        <div class="logo">79%</div>
                        <div class="name">CPU使用率</div>
                        <div class="number">3126</div>
                    </div>
                    <div class="oprate">···</div>
                </div>
                <div class="progressDiv">
                    <div class="prOuter">
                        <div class="prInner" style="width:79%">
                        </div>
                    </div>
                </div>
                <div class="centerFlexBt">
                    <div>低</div>
                    <div>高</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
</script>