<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>字典</title>
    <link rel="stylesheet" href="../../images/font/iconfont.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../js/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../js/lib/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../js/lib/common.js"></script>
    <script src="../../js/lib/layui/layui.js"></script>
    <script src="../../js/lib/load.js"></script>
</head>

<body class="five">
    <div id="app" class="appDiv" active="字典列表">
        <com-frame >
            <!-- 正文内容 -->
            <com-dictionary class="blockDiv"></com-dictionary>
        </com-frame>
    </div>
</body>
<script>
    load("./coms/frame.com.html","com-frame");
    load("../coms/dictionary/dictionary.com.html","com-dictionary");
</script>
</html>