<style>
    
</style>
<template>
    <div class="homePage">
        <div class="headerDiv">
            <div class="contentArea">
                <!-- 顶部logo -->
                <div class="topLogo centerFlex isPc">
                    <a href="../../views/six/home.html" class="texta centerFlex">
                        <img class="logo" src="../../images/six/home_logo_icon.png" alt="">
                        <span class="logoText">CASC</span>
                    </a>
                </div>
                <div class="menuIcon">
                    <i class="iconfont iconhome_list_icon"></i>
                </div>
                 <!-- 二级菜单 -->
                <div class="secondMenuDiv blockDiv" style="display: none;">
                    <div class="secondMenuContent">
                        <div class="menuItem userBtn"><a href="javascript:;">用户列表</a></div>
                        <div class="menuItem"><a href="../../views/six/org.html">机构管理</a></div>
                        <div class="menuItem"><a href="../../views/six/dictionary.html">字典管理</a></div>
                        <div class="menuItem"><a href="../../views/six/plan.html">策划目录</a></div>
                        <div class="menuItem"><a href="../../views/six/quality.html">质卡填报</a></div>
                        <div class="menuItem"><a href="../../views/six/plan.html">承担的任务</a></div>
                        <div class="menuItem"><a href="../../views/six/charts.html">图表</a></div>
                    </div>
                </div>
                <div class="rightDiv">
                    <div class="searchDiv">
                        <div class="inputItem">
                            <div class="inputBox">
                                <input type="text" placeholder="输入关键词搜索…">
                                <img src="../../images/six/home_sousuo_icon@2x.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="fucList centerFlex">
                        <div class="fucItem">
                            <a href="../../views/six/nav.html" class="texta centerFlex">
                                <i class="iconfont iconhome_icon1" style="color:var(--color-text-primary);font-size:20px;"></i>
                            </a>
                        </div>
                        <div class="fucItem centerFlex">
                            <div class="dropDownMenu">
                                <div class="avatarDiv">
                                    <i class="iconfont icontheme_icon1" style="color:var(--color-text-primary);font-size:20px;"></i>
                                </div>
                                <div>
                                    <div><a href="../../views/four/home.html">第四套</a></div>
                                    <div><a href="../../views/five/home.html">第五套</a></div>
                                    <div><a href="../../views/six/home.html">第六套</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="userInfo cursor">
                        <div class="dropDownMenu">
                            <div class="avatarDiv">
                                <img class="headPic" src="../../images/six/home_headpic_icon.png" alt="">
                                <span class="userName">admin</span>
                                <i class="iconfont iconarrow-down" style="color:var(--color-text-regular)"></i>
                            </div>
                            <div>
                                <div><a href="javascript:;">个人信息</a></div>
                                <div><a href="javascript:;">修改密码</a></div>
                                <div><a href="javascript:;">我的通知</a></div>
                                <div><a href="../../views/six/login.html">退出</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentDiv">
            <div class="mobileShadow"></div>
            <!-- 菜单 -->
            <div class="menuDiv" style="display: none;">
                <div class="topLogo topLogo1 centerFlex isMobile">
                    <a href="../../views/six/home.html" class="texta centerFlex">
                        <img class="logo" src="../../images/six/home_logo_icon.png" alt="">
                        <span class="logoText">CASC</span>
                    </a>
                </div>

                <ul class="menuContent">
                    <li class="menuItem">
                      <a href="../../views/six/nav.html">
                          <i class="iconfont iconhome_home_icon1"></i>
                          首页
                      </a>
                    </li>
                    <li class="menuItem">
                      <a href="../../views/six/home.html">
                        <i class="iconfont iconhome_working_icon1"></i>
                        我的工作台
                    </a>
                    </li>
                    <li class="menuItem setBtn">
                        <a href="javascript:;">
                            <i class="iconfont iconhome_organ_icon"></i>
                            机构用户
                        </a>
                    </li>
                    <li class="menuItem setBtn">
                        <a href="javascript:;" >
                            <i class="iconfont iconhome_set_icon1"></i>
                            系统设置
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 三级菜单 -->
            <div class="thirdMenuDiv blockDiv" style="display: none;">
                <div class="thirdMenuContent">
                    <div class="menuItem"><a href="../../views/six/userInfo.html">用户列表</a></div>
                    <div class="menuItem"><a href="../../views/six/userInfo.html">用户添加</a></div>
                    <div class="menuItem"><a href="../../views/six/userInfo.html">用户列表</a></div>
                    <div class="menuItem"><a href="../../views/six/userInfo.html">用户列表</a></div>
                </div>
            </div>
            <!-- 正文 -->
            <div class="mainDiv">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<script>
    window.skinName = "six";
    $(function(){
        if(window.innerWidth<1000){
            $(".thirdMenuDiv").before($(".secondMenuDiv"));
        }else{
            $(".rightDiv").before($(".secondMenuDiv"));
        }
        window.addEventListener("resize",function(){
            if(window.innerWidth<1000){
                $(".thirdMenuDiv").before($(".secondMenuDiv"));
            }else{
                $(".rightDiv").before($(".secondMenuDiv"));
            }
        });
        $(".setBtn").bind("click",function(){
            $(".secondMenuDiv").show();
        });
        $(".userBtn").bind("click",function(){
            $(".thirdMenuDiv").show();
        });
        $(".menuItem").bind("click",function(){
            hideMenu();
            event.stopPropagation();
        });
        
        document.querySelector(".menuIcon").addEventListener("click",function(){
            showMenu();
            event.stopPropagation();
        });
        document.querySelector(".mobileShadow").addEventListener("click",function(){
            hideMenu();
            event.stopPropagation();
        });
        // document.getElementById("showUserInfo").addEventListener("click",function(){
        //     document.querySelector(".thirdMenuDiv").style.display = "";
        //     hideMenu();
        //     event.stopPropagation();
        // });
        function showMenu(){
            document.querySelector(".mobileShadow").style.display = "";
            document.querySelector(".menuDiv").classList.remove("hideMenu");
        }
        function hideMenu(){
            document.querySelector(".mobileShadow").style.display = "none";
            document.querySelector(".menuDiv").classList.add("hideMenu");
        }
        if(window.innerWidth<1000){
            hideMenu();
        }
        document.querySelector(".menuDiv").style.display = "";
        window.addEventListener("resize",function(){
            if(window.innerWidth<1000){
                hideMenu();
            }
            document.querySelector(".menuDiv").style.display = "";
        })
        //设置菜单激活项目
        var menuName = $("#app").attr("active");
        if(menuName){
            $(".menuDiv a").each(function(index,item){
                if($(item).text().indexOf(menuName)!=-1){
                    $(".menuDiv li.active").removeClass("active");
                    $($(item).parents("li")[0]).addClass("active");
                }
            })
        }
    });
</script>