<style>
   
</style>
<template>
    <div class="calendarDiv">
        <div class="monthDiv">
            <div class="circle">
                <div class="circleborder">
                    <span class="monthSpan bkspan">一月</span>
                    <span class="monthSpan">二月</span>
                    <span class="monthSpan">三月</span>
                    <span class="monthSpan">四月</span>
                    <span class="monthSpan">五月</span>
                    <span class="monthSpan">六月</span>
                    <span class="monthSpan">七月</span>
                    <span class="monthSpan">八月</span>
                    <span class="monthSpan">九月</span>
                    <span class="monthSpan">十月</span>
                    <span class="monthSpan">十一月</span>
                    <span class="monthSpan">十二月</span>
                </div>
                <div class="yearDiv">
                    <div class="upbtn">
                        <i class="iconfont iconarrow-up"></i>
                    </div>
                    <span class="yearItem">2020</span>
                    <div class="downbtn">
                        <i class="iconfont iconarrow-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="yearMonthDiv">
            <i class="iconfont iconlast_icon lastMonth"></i>
            <span class="yearMobile">2020</span>
            <span class="monthMobile">7</span>
            <i class="iconfont iconnext nextMonth"></i>
        </div>
        <div class="weekDiv">
            <span>日</span>
            <span>一</span>
            <span>二</span>
            <span>三</span>
            <span>四</span>
            <span>五</span>
            <span>六</span>
        </div>
    </div>
</template>
<script>
    $(function () {
        /*判断某年是否是闰年*/
        var monthDay = [31, 0, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        function isLeap(year) {
            if ((year % 4 == 0 && year % 100 != 0) || year % 400 == 0) {
                return true;
            }
            else {
                return false;
            }
        }
        /*判断某年某月某日是星期几，默认日为1号*/
        function whatDay(year, month, day = 1) {
            var sum = 0;
            sum += (year - 1) * 365 + Math.floor((year - 1) / 4) - Math.floor((year - 1) / 100) + Math.floor((year - 1) / 400) + day;
            for (var i = 0; i < month - 1; i++) {
                sum += monthDay[i];
            }
            if (month > 2) {
                if (isLeap(year)) {
                    sum += 29;
                }
                else {
                    sum += 28;
                }
            }
            return sum % 7;      //余数为0代表那天是周日，为1代表是周一，以此类推
        }
        function showCld(year, month, firstDay) {
            var i;
            var tagClass = "";
            var nowDate = new Date();

            var days;//从数组里取出该月的天数
            if (month == 2) {
                if (isLeap(year)) {
                    days = 29;
                }
                else {
                    days = 28;
                }
            }
            else {
                days = monthDay[month - 1];
            }
            $(".calendarDiv .weekDiv .day").each(function(){
                $(this).remove();
            });
            /*添加日期部分*/
            var tbodyHtml = '<tr>';
            for (i = 0; i < firstDay; i++) {//对1号前空白格的填充
                $(".calendarDiv .weekDiv").append("<span class='day'></span>");
            }
            var changLine = firstDay;
            for (i = 1; i <= days; i++) {//每一个日期的填充
                if (year == nowDate.getFullYear() && month == nowDate.getMonth() + 1 && i == nowDate.getDate()) {
                    tagClass = "curDate";//当前日期对应格子
                }
                else {
                    tagClass = "isDate";//普通日期对应格子，设置class便于与空白格子区分开来
                }
                $(".calendarDiv .weekDiv").append(`<span class='day'>${i}</span>`);
                changLine = (changLine + 1) % 7;
            }
            if (changLine != 0) {//添加结束，对该行剩余位置的空白填充
                for (i = changLine; i < 7; i++) {
                    $(".calendarDiv .weekDiv").append(`<span class='day'></span>`);
                }
            }
            if((month == curDate.getMonth() + 1)&&(year == curDate.getFullYear())){
                $(".calendarDiv .today").removeClass("today");
                $(".calendarDiv .weekDiv .day").each(function(index,item){
                    if($(item).text() == curDate.getDate()){
                        $(item).addClass("today");
                    }
                });
            }
        }
        //前后月
        function nextMonth(){
            var year = Number($(".calendarDiv .yearMobile").text());
            var month = Number($(".calendarDiv .monthMobile").text());
            var nextMonth = month+1;
            if(nextMonth > 12){
                nextMonth = 1;
                year++;
            }
            $(".calendarDiv .yearMobile").text(year);
            $(".calendarDiv .monthMobile").text(nextMonth);
            showCld(year, nextMonth, whatDay(year, nextMonth));
        }
        function lastMonth(){
            var year = Number($(".calendarDiv .yearMobile").text());
            var month = Number($(".calendarDiv .monthMobile").text());
            var preMonth = month-1;
            if(preMonth < 1){
                preMonth = 12;
                year--;
            }
            $(".calendarDiv .yearMobile").text(year);
            $(".calendarDiv .monthMobile").text(preMonth);
            showCld(year, preMonth, whatDay(year, preMonth));
        }
        //画图
        $(".calendarDiv .monthSpan").each(function (index, item) {
            $(item).css("left", 125 * Math.cos(30 * index * Math.PI / 180) + 125 - 12);
            $(item).css("top", 125 * Math.sin(30 * index * Math.PI / 180) + 125 - 12);
            $(item).css("transform", "rotate(" + 30 * index + "deg)");
            $(item).attr("rotate", 30 * index);
        });
        //月份点击
        $(".calendarDiv .monthSpan").bind("click", function () {
            var rotate = $(this).attr("rotate");
            $(".calendarDiv .circleborder").css("transform", "rotate(" + (-rotate) + "deg)");
            $(".calendarDiv .bkspan").removeClass("bkspan");
            $(this).addClass("bkspan");
            init();
        });
        
        //年点击
        $(".calendarDiv .upbtn").bind("click", function () {
            $(".calendarDiv .yearItem").text(Number($(".yearItem").text()) - 1);
            init();
        });
        $(".calendarDiv .downbtn").bind("click", function () {
            $(".yearItem").text(Number($(".yearItem").text()) + 1);
            init();
        });
        var curDate = new Date();
        var curYear = curDate.getFullYear();
        var curMonth = curDate.getMonth() + 1;
        $(".calendarDiv .yearItem").text(curYear);
        $(".calendarDiv .monthSpan").eq(curMonth-1).trigger("click");
        $(".calendarDiv .yearMobile").text(curYear);
        $(".calendarDiv .monthMobile").text(curMonth);
        //初始化
        $(".calendarDiv .nextMonth").bind("click",function(){
            nextMonth();
        });
        $(".calendarDiv .lastMonth").bind("click",function(){
            lastMonth();
        });
        function init(){
            var year = $(".calendarDiv .yearItem").text();
            var month = Number($(".calendarDiv .bkspan").attr("rotate"))/30+1;
            showCld(year, month, whatDay(year, month));
        }
    })
</script>