<style>
    
</style>
<template>
    <div class="noticeDiv">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
              <li class="layui-this">招聘公告</li>
              <li>近期通知</li>
              <li>要点新闻</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                <table class="layui-table" lay-odd="">
                    <colgroup>
                      <col width="120">
                      <col width="">
                      <col width="120">
                    </colgroup>
                    <tbody>
                      <tr>
                        <td>UI设计</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                      <tr>
                        <td>岗位名称</td>
                        <td>此处输入公告内容</td>
                        <td>2019-12-06</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="layui-tab-item">内容2</div>
              <div class="layui-tab-item">内容3</div>
            </div>
        </div>
    </div>
</template>
<script>
</script>