<style>
    
</style>
<template>
    <div class="beartaskDiv">

        <form class="layui-form notinline isPc" action="" lay-filter="bearTaskForm">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="danger">*</span>项目牵头部门承担任务
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入项目牵头部门承担任务" lay-verify="required" lay-reqtext="请输入项目牵头部门承担任务" name="mainTask" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">各部门承担任务项目牵头部门</label>
                <div class="layui-input-block radiusHighTable">
                    <table class="layui-table" lay-data="{data:bearTableData,id:'table1'}" lay-filter="beartasktable1">
                        <thead>
                            <tr>
                                <th lay-data="{field:'index',width:90}">序号</th>
                                <th lay-data="{field:'dept', width:160}">项目责任部门</th>
                                <th lay-data="{field:'name',templet:'#tempBearname'}">姓名</th>
                                <th lay-data="{field:'duty',templet:'#tempBearduty'}">职责</th>
                                <th lay-data="{field:'education', width:200,templet: '#tempBearEdu'}">职称及学历</th>
                                <th lay-data="{field:'type', width:200,templet: '#tempBearType'}">类别</th>
                                <th lay-data="{field:'workCount', width:130,edit: 'text'}">工作量(人/年)</th>
                                <th lay-data="{width:120, align:'center', toolbar: '#tempBearCtl'}">操作</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="addDiv">
                        <button class="layui-btn layui-btn-sm" >添加</button>
                    </div>
                    <script type="text/html" id="tempBearname">
                       <input type="text" class="layui-input"/>
                    </script>
                    <script type="text/html" id="tempBearduty">
                        <input type="text" class="layui-input"/>
                    </script>
                    <script type="text/html" id="tempBearEdu">
                        <select class="de">
                            <option value=""></option>
                            <option value="0">选项1</option>
                            <option value="1">选项2</option>
                        </select>
                    </script>
                    <script type="text/html" id="tempBearType">
                        <select>
                            <option value=""></option>
                            <option value="0">选项1</option>
                            <option value="1">选项2</option>
                        </select>
                    </script>
                    <script type="text/html" id="tempBearCtl">
                        <a class="primary danger cursor button" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">各部门承担任务项目参与部门</label>
                <div class="layui-input-block radiusHighTable">
                    <table class="layui-table " lay-data="{data:bearTableData,id:'table2'}" lay-filter="beartasktable2">
                        <thead>
                            <tr>
                                <th lay-data="{field:'index',width:90}">序号</th>
                                <th lay-data="{field:'dept', width:160}">项目责任部门</th>
                                <th lay-data="{field:'name', templet: '#tempBearname2'}">姓名</th>
                                <th lay-data="{field:'duty',templet: '#tempBearduty'}">职责</th>
                                <th lay-data="{field:'education', width:200,templet: '#tempBearEdu'}">职称及学历</th>
                                <th lay-data="{field:'type', width:200,templet: '#tempBearType'}">类别</th>
                                <th lay-data="{field:'workCount', width:130,edit: 'text'}">工作量(人/年)</th>
                                <th lay-data="{width:120, align:'center', toolbar: '#tempBearCtl'}">操作</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="addDiv">
                        <button class="layui-btn layui-btn-sm" >添加</button>
                    </div>
                    <script type="text/html" id="tempBearname2">
                        <div class="iconInput">
                            <input type="text" class="layui-input"/>
                            <i class="iconfont iconhome_sousuo_icon1"></i>
                        </div>
                     </script>
                </div>
            </div>
            <div style="padding-top:35px;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit" id="breadsubmitBtn">提交</button>
                <button class="layui-btn"  id="plansaveBtn">保存</button>
                <button class="layui-btn plain">关联附表</button>
            </div>
        </form>

        <form class="layui-form notinline isMobile" action="" lay-filter="bearTaskForm">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="danger">*</span>项目牵头部门承担任务
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入项目牵头部门承担任务" lay-verify="required" lay-reqtext="请输入项目牵头部门承担任务" name="mainTask" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">各部门承担任务项目牵头部门
                    <a class="primary cursor right">添加</a>
                </label>
                <div class="layui-input-block">

                    <div class="card mb15">
                        <div class="card-header">
                            <span>
                                <span class="mr25">序号1</span>
                                <span>经营计划处</span>
                            </span>
                            <i class="iconfont icondelete_icon cursor" style="float:right;color:var(--color-primary)"
                                @click="deleteItem(beartaskForm.tableData1,index)"></i>
                        </div>
                        <div class="card-body bearGrid">
                            <span>姓名</span>
                            <input type="text" class="layui-input"/>
                            <span>职责</span>
                            <input type="text" class="layui-input"/>
                            <span>职称及学历</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>类别</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>工作量(人/年)</span>
                            <input type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="card mb15">
                        <div class="card-header">
                            <span>
                                <span class="mr25">序号2</span>
                                <span>经营计划处</span>
                            </span>
                            <i class="iconfont icondelete_icon cursor" style="float:right;color:var(--color-primary)"
                                @click="deleteItem(beartaskForm.tableData1,index)"></i>
                        </div>
                        <div class="card-body bearGrid">
                            <span>姓名</span>
                            <input type="text" class="layui-input"/>
                            <span>职责</span>
                            <input type="text" class="layui-input"/>
                            <span>职称及学历</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>类别</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>工作量(人/年)</span>
                            <input type="text" class="layui-input"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">各部门承担任务项目参与部门
                    <a class="primary cursor right">添加</a>
                </label>
                <div class="layui-input-block">

                    <div class="card mb15">
                        <div class="card-header">
                            <span>
                                <span class="mr25">序号1</span>
                                <span>经营计划处</span>
                            </span>
                            <i class="iconfont icondelete_icon cursor" style="float:right;color:var(--color-primary)"
                                @click="deleteItem(beartaskForm.tableData1,index)"></i>
                        </div>
                        <div class="card-body bearGrid">
                            <span>姓名</span>
                            <div class="iconInput">
                                <input type="text" class="layui-input"/>
                                <i class="iconfont iconhome_sousuo_icon1"></i>
                            </div>
                            <span>职责</span>
                            <div class="iconInput">
                                <input type="text" class="layui-input"/>
                                <i class="iconfont iconhome_sousuo_icon1"></i>
                            </div>
                            <span>职称及学历</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>类别</span>
                            <select>
                                <option value=""></option>
                                <option value="0">选项1</option>
                                <option value="1">选项2</option>
                            </select>
                            <span>工作量(人/年)</span>
                            <input type="text" class="layui-input"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:25px;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit" id="breadsubmitBtn2">提交</button>
                <button class="layui-btn"  id="plansaveBtn">保存</button>
                <button class="layui-btn plain">关联附表</button>
            </div>
        </form>
        
    </div>
</template>
<script>
    var bearTableData =[{
                        index:1,
                        dept: "经营计划处",
                        name: "",
                        duty: "",
                        education: "",
                        type: "",
                        workCount: "",
                    },
                    {
                        index:2,
                        dept: "经营计划处",
                        name: "",
                        duty: "",
                        education: "",
                        type: "",
                        workCount: "",
                    }
                    ];
                    //表格
        layui.use('table', function () {
            var table = layui.table;
            $("div.layui-form-select").click(function(){
                 var width = $(this).width();
                 var top = $(this).offset().top;
                 var left = $(this).offset().left;
                 $(this).find("dl").css({"min-width":width+"px", top:top+40+"px", left:left+"px"});
            });
            //监听tab变化
            function query(selector) {
                return Array.from(document.querySelectorAll(selector));
            }

            var observer = new IntersectionObserver(
                function (entries) {
                    entries.forEach(function (item) {
                        table.resize('table1');
                        table.resize('table2');
                    });
                },
                { threshold: [0.25, 0.5, 0.75, 1] }
            );

            query('.beartaskDiv').forEach(function (item) {
                observer.observe(item);
            });
        });
        //导航
        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        });
</script>