<style>
    
</style>
<template>
    <div class="homePage">
        <div class="headerDiv">
            <div class="contentArea">
                <!-- 顶部logo -->
                <div class="topLogo centerFlex isPc">
                    <a href="../../views/five/home.html" class="texta centerFlex">
                        <img class="logo" src="../../images/five/home_logo_icon.png" alt="">
                        <span class="logoText">CASC</span>
                    </a>
                </div>
                <div class="menuIcon">
                    <i class="iconfont iconhome_list_icon"></i>
                </div>
                <div class="rightDiv">
                    <div class="searchDiv">
                        <div class="inputItem">
                            <div class="inputBox">
                                <input type="text" placeholder="输入关键词搜索…">
                                <img src="../../images/five/home_sousuo_icon@2x.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="fucList centerFlex">
                        <div class="fucItem">
                            <a href="../../views/five/nav.html" class="texta centerFlex">
                                <i class="iconfont iconhome_icon1" style="color:var(--color-primary);font-size:20px;"></i>
                            </a>
                        </div>
                        <div class="fucItem centerFlex">
                            <div class="dropDownMenu">
                                <div class="avatarDiv">
                                    <i class="iconfont icontheme_icon1" style="color:var(--color-primary);font-size:20px;"></i>
                                </div>
                                <div>
                                    <div><a href="../../views/four/home.html">第四套</a></div>
                                    <div><a href="../../views/five/home.html">第五套</a></div>
                                    <div><a href="../../views/six/home.html">第六套</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="userInfo cursor">
                        <div class="dropDownMenu">
                            <div class="avatarDiv">
                                <img class="headPic" src="../../images/four/home_headpic_icon.png" alt="">
                                <span class="userName">admin</span>
                                <i class="iconfont iconarrow-down" style="color:var(--color-text-regular)"></i>
                            </div>
                            <div >
                                <div><a href="javascript:;">个人信息</a></div>
                                <div><a href="javascript:;">修改密码</a></div>
                                <div><a href="javascript:;">我的通知</a></div>
                                <div><a href="../../views/four/login.html">退出</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentDiv">
            <div class="mobileShadow"></div>
            <!-- 菜单 -->
            <div class="menuDiv" style="display: none;">
                <div class="topLogo topLogo1 centerFlex isMobile">
                    <a href="../../views/five/home.html" class="texta centerFlex">
                        <img class="logo" src="../../images/five/home_logo_icon.png" alt="">
                        <span class="logoText">CASC</span>
                    </a>
                </div>
                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo">
                    <li class="layui-nav-item">
                      <a href="../../views/five/nav.html">
                          <i class="iconfont iconhome_home_icon1"></i>
                          首页
                      </a>
                    </li>
                    <li class="layui-nav-item">
                      <a href="../../views/five/home.html">
                        <i class="iconfont iconhome_home_icon1"></i>
                        我的工作台</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont iconhome_organ_icon"></i>
                            机构用户
                        </a>
                        <dl class="layui-nav-child">
                            <dd> 
                                <a href="javascript:;" id="showUserInfo">
                                    
                                    用户管理
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/org.html">
                                    
                                    机构管理
                                </a>
                            </dd>
                          </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont iconhome_set_icon1"></i>
                            系统设置
                        </a>
                        <dl class="layui-nav-child">
                            <dd> 
                                <a href="../../views/five/dictionary.html">
                                    
                                    字典列表
                                </a>
                            </dd>
                          </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont iconhome_set_icon1"></i>
                            项目周期
                        </a>
                        <dl class="layui-nav-child">
                            <dd> 
                                <a href="../../views/five/plan.html">
                                    
                                    策划目录
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/quality.html">
                                    
                                    质卡填报
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/charts.html">
                                    
                                    图表
                                </a>
                            </dd>
                          </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont iconhome_set_icon1"></i>
                            全部页面
                        </a>
                        <dl class="layui-nav-child">
                            <dd> 
                                <a href="../../views/five/login.html">
                                    
                                    登录
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/nav.html">
                                    
                                    主页
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/home.html">
                                    
                                    我的工作台
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/userInfo.html">
                                    
                                    用户管理
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/org.html">
                                    
                                    机构管理
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/dictionary.html">
                                    
                                    字典管理
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/plan.html">
                                    
                                    策划目录
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/quality.html">
                                    
                                    质卡填报
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/plan.html">
                                    
                                    承担的任务
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/charts.html">
                                    
                                    图表
                                </a>
                            </dd>
                            <dd> 
                                <a href="../../views/five/demo.html">
                                    
                                    用户改造demo
                                </a>
                            </dd>
                            </dl>
                    </li>
                </ul>
            </div>
            <!-- 横向菜单 -->
            <div class="thirdMenuDiv blockDiv" style="display: none;">
                <ul class="layui-nav">
                    <li class="layui-nav-item layui-this"><a href="../../views/five/userInfo.html">用户列表</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">用户添加</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">用户列表</a></li>
                    <li class="layui-nav-item"><a href="javascript:;">用户列表</a></li>
                </ul>
            </div>
            <!-- 正文 -->
            <div class="mainDiv">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<script>
    window.skinName = "five";
    layui.use('element', function(){
        var element = layui.element;
        document.querySelector(".menuIcon").addEventListener("click",function(){
            showMenu();
            event.stopPropagation();
        });
        document.querySelector(".mobileShadow").addEventListener("click",function(){
            hideMenu();
            event.stopPropagation();
        });
        document.getElementById("showUserInfo").addEventListener("click",function(){
            document.querySelector(".thirdMenuDiv").style.display = "";
            hideMenu();
            event.stopPropagation();
        });
        function showMenu(){
            document.querySelector(".mobileShadow").style.display = "";
            document.querySelector(".menuDiv").classList.remove("hideMenu");
        }
        function hideMenu(){
            document.querySelector(".mobileShadow").style.display = "none";
            document.querySelector(".menuDiv").classList.add("hideMenu");
        }
        if(window.innerWidth<1000){
            hideMenu();
        }
        document.querySelector(".menuDiv").style.display = "";
        window.addEventListener("resize",function(){
            if(window.innerWidth<1000){
                hideMenu();
            }
            document.querySelector(".menuDiv").style.display = "";
        })
        //设置菜单激活项目
        var menuName = $("#app").attr("active");
        if(menuName){
            $(".menuDiv a").each(function(index,item){
                if($(item).text().indexOf(menuName)!=-1){
                    if($(item).parents(".layui-nav-item").length>0){
                        $(item).parents(".layui-nav-item").addClass("layui-nav-itemed");
                    }
                    if($(item).parents("dd").length>0){
                        $($(item).parents("dd")[0]).addClass("layui-this");
                    }else if($(item).parents(".layui-nav-item").length>0){
                        $($(item).parents(".layui-nav-item")[$(item).parents(".layui-nav-item").length-1]).addClass("layui-this");
                    }
                }
            })
        }
    });
</script>